<h1>
  <!-- Gravatar　から画像を引っ張ってHTMLタグを出力 -->
  <%= gravatar_for @user %>
  <%= @user.name %>
</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
     <h2>プロフィール</h2>
      <% if profile_exist?(@user) %>
        <p><%= @user.profile %></p>
      <% else %>
        <p>プロフィールが設定されていません</p>
      <% end %>
    
    
    <h2>地域</h2>
      <% if region_exist?(@user) %>
        <p><%= @user.region %></p>
      <% else %>
        <p>地域が設定されていません</p>
      <% end %>
      
  </div>
</div>